# Dependencies
node_modules

# Environment secrets
.env
.env.local
.env.production

# Build output
dist
build
.dist

# Editor / OS
.DS_Store
Thumbs.db
*.log
.vscode/settings.json

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log

# Vite cache
.vite/
